<div id="alert" class="alert alert-danger d-none">
  <p id="p-alert"></p>
  <button id="button-alert"></button>
</div>
<div class="formMain w-75">
  <div>
    <h2 class="text-white">Bentornato Gluten Free Lifer</h2>
    <p class="text-white">Accedi a tutti i tuoi contenuti</p>
  </div>
  <form #formLogin="ngForm" (ngSubmit)="login(formLogin)">
    <div>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="email"
        required
        ngModel
      />
    </div>
    <div>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
        required
        ngModel
      />
    </div>
    <button type="submit" [disabled]="formLogin.invalid">Accedi</button>
  </form>
  <a
    class="text-decoration-underline text-white mt-4"
    [routerLink]="['/signup']"
    >Se non hai un account, registrati</a
  >
</div>
