<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img src="../../../assets/img/gflLogo.png" alt="Logo Gluten Free Life"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="!utente">
          <a
            class="nav-link active"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Login</a
          >
        </li>
        <li class="nav-item" *ngIf="!utente">
          <a
            class="nav-link"
            [routerLink]="['signup']"
            routerLinkActive="active"
            >Signup</a
          >
        </li>
        <li class="nav-item" *ngIf="utente">
          <a class="nav-link" [routerLink]="['home']" routerLinkActive="active"
            >Home</a
          >
        </li>
        <h6 *ngIf="utente">Benvenuto {{ utente.user.nome }}</h6>
        <button
          type="button"
          *ngIf="utente"
          class="float-end"
          (click)="logout()"
        >
          logout
        </button>
      </ul>
    </div>
  </div>
</nav>
