img {
  width: 85px;
}

nav {
  background-color: #f5f5f5;
}

.btn-signup {
  border: 5px solid #25995b;
  border-radius: 20px;
}

.gapLink {
  gap: 0px;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .gapLink {
    gap: 10px;
  }
}
