<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']" routerLinkActive="active"
      ><img src="../../../assets/img/gflLogo.png" alt="Logo Gluten Free Life"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0 d-flex gapLink">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['']" routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/ristoranti']"
            routerLinkActive="active"
            >Ristoranti</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/chisiamo']"
            routerLinkActive="active"
            >Chi Siamo</a
          >
        </li>
      </ul>
    </div>
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item btn-signup" *ngIf="!utente">
        <a
          class="nav-link text-dark"
          [routerLink]="['signup']"
          routerLinkActive="active"
          >Accedi/Registrati</a
        >
      </li>
    </ul>
    <div class="d-flex align-items-center gap-2">
      <h6 class="m-0" *ngIf="utente">Benvenuto/a {{ utente.user.nome }}</h6>
      <button
        type="button"
        class="btn-signup"
        *ngIf="utente"
        (click)="logout()"
      >
        <i class="bi bi-box-arrow-right" style="width: 100px"></i>
      </button>
    </div>
  </div>
</nav>
