<div class="w-75" style="margin-inline: auto; margin-bottom: 77px">
  <a
    class="text-decoration-none text-dark"
    (click)="reset()"
    [routerLink]="['/']"
    >Torna Indietro</a
  >
  <div class="d-flex justify-content-between align-items-center">
    <h1>{{ ristorante.name }}</h1>
    <a [routerLink]="['/checkout']" class="aCarrello" *ngIf="ordina == 'true'">
      Carrello
      <p id="itemCarrello" class="itemCarrello">{{ item }}</p>
    </a>
  </div>
  <div
    class="d-flex flex-wrap justify-content-start gap-5 align-items-center mt-5"
    *ngIf="ordina == 'true'"
  >
    <div *ngFor="let item of Menu">
      <div class="card">
        <img
          src="{{ item.imgthumbnail }}"
          class="card-img-top"
          style="height: 200px; object-fit: cover"
          alt="..."
        />
        <div class="card-body">
          <h6 class="card-title">{{ item.name }}</h6>
          <p class="card-text">{{ item.price }}€</p>
          <a class="buttonHome" (click)="addItemCarrello(item.name, item.price)"
            ><strong>ORDINA</strong></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="w-100" *ngIf="mangia === 'true'">
    <img class="imgRistorante" src="{{ ristorante.imglogo }}" alt="" />
    <h2 class="mt-3">Prenota al nostro ristorante</h2>
    <div>
      <div id="alert" class="alert alert-danger d-none">
        <p id="p-alert"></p>
        <button id="button-alert"></button>
      </div>
      <form
        *ngIf="utente"
        class="d-flex flex-wrap justify-content-evenly align-items-center mt-5"
        [formGroup]="formPrenotazione"
        (ngSubmit)="prenotazione()"
      >
        <input
          type="date"
          min="{{ dataDiOggi }}"
          required
          formControlName="data"
        />
        <input type="time" required formControlName="ora" />
        <input
          type="number"
          max="10"
          placeholder="Ospiti...Max 10"
          required
          formControlName="ospiti"
        />
        <button class="btn btn-success">PRENOTA</button>
      </form>
    </div>
    <hr class="mt-5" />
    <div class="w-100 d-flex flex-nowrap mt-5">
      <div class="w-50 p-5" style="border-right: 1px solid black">
        <h3>Menù</h3>
        <div *ngFor="let item of Menu">
          <ul>
            <li
              class="d-flex flex-nowrap align-items-center justify-content-between"
            >
              <h5 class="m-0">{{ item.name }}</h5>
              <h5 class="m-0">{{ item.price }}€</h5>
            </li>
          </ul>
        </div>
      </div>
      <div class="w-50 p-5">
        <h3>Recensioni</h3>
        <div>
          <ul>
            <li
              class="d-flex flex-nowrap align-items-center justify-content-between"
            >
              Al momento non ci sono recensioni 😞
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
