#left h1 {
  font-size: 60px;
}

#left p {
  font-size: 25px;
}

.classImgTop {
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
}

.classImgDiv {
  width: 800px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
