#left h1 {
  font-size: 60px;
}

#left p {
  font-size: 25px;
}

.classImgTop {
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
}

.classImgDiv {
  width: 800px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.category {
  background-color: transparent;
  width: 450px;
  text-align: center;
  height: 450px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
}

.category:hover {
  background-color: #25995b;
  color: white;
  transition: 0.5s ease-in-out;
}
