#left h1 {
  font-size: 60px;
}

#left p {
  font-size: 25px;
}

.classImgTop {
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
}

.classImgDiv {
  width: 800px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.category {
  background-color: transparent;
  width: 432px;
  text-align: center;
  height: 432px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
}

.category:hover {
  background-color: #25995b;
  color: white;
  transition: 0.5s ease-in-out;
}

.new-card {
  height: 100%;
  background-color: red;
  margin-inline: auto;
  margin-top: 50px;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
}

.new-card img {
  height: 285px;
  width: 500px;
  object-fit: cover;
  object-position: center;
}
