<div id="alert" class="alert alert-danger d-none">
  <p id="p-alert"></p>
  <button id="button-alert"></button>
</div>
<div class="formMain">
  <div>
    <h2 class="text-white">Entra nel mondo del Gluten Free</h2>
    <p class="text-white m-0">Registrati gratuitamente</p>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div>
      <input
        type="text"
        name="nome"
        id="nome"
        placeholder="Nome Completo"
        required
        formControlName="nome"
      />
    </div>
    <div>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="email"
        required
        formControlName="email"
      />
    </div>
    <div>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
        required
        formControlName="password"
      />
    </div>
    <button type="submit">Registrati</button>
  </form>
  <a class="text-decoration-underline text-white mt-3" [routerLink]="['/login']"
    >Se ti sei già registrato, accedi</a
  >
</div>
