<div class="formMain">
  <div>
    <h2 class="text-white">Entra nel mondo del Gluten Free</h2>
    <p class="text-white text-decoration-underline">Registrati gratuitamente</p>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div>
      <input
        type="text"
        name="nome"
        id="nome"
        placeholder="Nome Completo"
        required
        formControlName="nome"
      />
    </div>
    <div>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="email"
        required
        formControlName="email"
      />
    </div>
    <div>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
        required
        formControlName="password"
      />
    </div>
    <button type="submit">Registrati</button>
  </form>
</div>
