<div id="alert" class="alert alert-danger d-none">
  <p id="p-alert"></p>
  <button id="button-alert"></button>
</div>
<div class="formMain">
  <div>
    <h2 class="text-white">Entra nel mondo del Gluten Free</h2>
    <p class="text-white m-0">Registrati gratuitamente</p>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="d-flex justify-content-center gap-3 flex-wrap">
      <input
        type="text"
        name="nome"
        id="nome"
        placeholder="Nome"
        required
        formControlName="nome"
      />
      <input
        type="text"
        name="cognome"
        id="cognome"
        placeholder="Cognome"
        required
        formControlName="cognome"
      />
    </div>
    <div class="d-flex justify-content-center gap-3 flex-wrap">
      <input
        type="text"
        name="dataNascita"
        id="dataNascita"
        placeholder="Data di Nascita"
        required
        formControlName="dataNascita"
      />
      <input
        type="text"
        name="età"
        id="età"
        placeholder="Età"
        required
        formControlName="età"
      />
    </div>
    <div class="d-flex justify-content-center gap-3 flex-wrap">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        required
        formControlName="email"
      />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
        required
        formControlName="password"
      />
    </div>
    <button type="submit">Registrati</button>
  </form>
  <a class="text-decoration-underline text-white mt-3" [routerLink]="['/login']"
    >Se ti sei già registrato, accedi</a
  >
</div>
