/* You can add global styles to this file, and also import other style files */

body {
  background-color: whitesmoke;
}

html {
  width: 100%;
}

#alert {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

#alert button {
  border: 0;
  background-color: transparent;
  width: 30px;
  padding: 0;
}

#alert p {
  margin: 0;
}

.buttonHome {
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  width: 200px;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #25995b;
  cursor: pointer;
}
