/* You can add global styles to this file, and also import other style files */

body {
  background-color: whitesmoke;
}

#alert {
  width: 500px;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

#alert button {
  border: 0;
  background-color: transparent;
  width: 30px;
  padding: 0;
}

#alert p {
  margin: 0;
}
