<div class="blured"></div>
<div>
  <div>
    <h1>SCOPRI TUTTI I RISTORANTI</h1>
  </div>
</div>
<div class="d-flex flex-wrap justify-content-evenly gap-5 allRestaurantDiv">
  <div *ngFor="let ristorante of allRistoranti">
    <div class="card" style="width: 20rem">
      <img
        src="{{ ristorante.imglogo }}"
        style="height: 300px; object-fit: cover"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body text-center">
        <h4 class="card-title">
          {{ ristorante.name }}
          <img
            style="width: 20px"
            src="../../../assets/img/glutenfreelogo.png"
            alt=""
          />
        </h4>
        <p class="card-text">
          {{ ristorante.category }}
        </p>
        <a
          *ngIf="utente"
          class="buttonHome"
          (click)="dettaglioRistorante(ristorante.id)"
          >SCOPRI</a
        >
      </div>
    </div>
  </div>
</div>
