.divCarrello {
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
}

.imgRist {
  width: 100%;
  border-radius: 20px;
  height: 400px;
  object-fit: cover;
}

input {
  width: 200px;
}

a:hover {
  background-color: green;
  color: white;
  transition: 0.75s;
}
