<div class="w-75" style="margin-inline: auto">
  <a class="text-decoration-none text-dark" href="javascript:history.back()"
    >Torna Indietro</a
  >
  <div class="mt-5 divCarrello">
    <div
      id="carrello"
      *ngFor="let listCarrello of carrello; index as i"
      class="d-flex align-items-center gap-3 justify-content-between"
    >
      <h2>{{ listCarrello.name }} {{ listCarrello.price }}€</h2>
      <a (click)="removeItemCarrello(listCarrello.name, listCarrello.price, i)"
        >❌</a
      >
    </div>
    <h3 class="d-flex align-items-center justify-content-end">
      Totale da pagare: {{ totalPay() }}€
    </h3>
  </div>
  <div></div>
</div>
