<div class="w-75 text-center m-auto">
  <div class="d-flex flex-wrap align-items-center justify-content-evenly">
    <div>
      <img src="../../../assets/img/gflLogo.png" alt="" />
    </div>
    <div>
      <h3>
        Gluten Free Life nasce nel 2023. <br />
        Con lo scopo di aiutare i celiaci, <br />
        mettiamo a disposizione il nostro servizio <br />
        di prenotazione e ordinazione <br />
        presso tutti i ristoranti della tua zona
        <br />
        che presentano prodotti
        <img
          style="width: 40px"
          src="../../../assets/img/glutenfreelogo.png"
          alt=""
        />
      </h3>
    </div>
  </div>
</div>
<hr class="w-75 m-auto mt-3" />
<div class="w-75 text-center m-auto">
  <div class="d-flex flex-wrap align-items-center justify-content-evenly">
    <div class="d-flex flex-column align-items-center">
      <h3>
        Stai cercando lavoro? <br />
        Consulta le nostre posizioni aperte, <br />
        potresti essere tu il prossimo Gluten Free Lifer
      </h3>
      <a [routerLink]="['/lavoraconnoi']" class="buttonHome"
        ><strong>LAVORA CON NOI</strong></a
      >
    </div>
    <div>
      <img src="../../../assets/img/lavoro.png" alt="" />
    </div>
  </div>
</div>
<hr class="w-75 m-auto mt-3" />
<div class="w-75 text-center m-auto newsletter mt-5">
  <div>
    <div>
      <h3>Iscriviti alla nostra newsletter per rimanere aggiornato!</h3>
      <form class="d-flex flex-wrap flex-column align-items-center">
        <input type="email" placeholder="Inserisci la tua email..." />
        <button class="mt-3 buttonHome"><strong>Iscriviti</strong></button>
      </form>
    </div>
  </div>
</div>
