.newsletter {
  background-color: #25995b;
  padding: 100px;
  border: 1px solid black;
  border-radius: 25px;
  color: white;
}

.newsletter input {
  margin-top: 20px;
  border: 0;
  width: 700px;
  height: 35px;
  border-radius: 20px;
  padding: 10px;
}
